.form-position {
  background-color: #bae8ac;
  padding: 15px;
  color: black;
  font-weight: 700;
  border-radius: 10px;
  margin-left: 30%;
  margin-top: -30%;
}
.hiring-form-holeconatiner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-form form {
  padding: 50px;
}
.form-first {
  margin-top: 50px;
}
@media screen and (max-width: 600px) {
  .hiring-form-holeconatiner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
  }
  .hiring-form-main {
    height: 150vh;
  }
  .form-position {
    background-color: #bae8ac;
    padding: 15px;
    color: black;
    font-weight: 700;
    border-radius: 10px;
    /* width: 200%; */
    position: absolute;
    margin-top: -17%;
    margin-left: -10%;
  }
}
